@charset "UTF-8";

/* 기본스타일
===============================================================================================*/

*{
		margin:0px;  
		padding: 0px; 
		font-size: 12px;     
} 
 
A{COLOR: #000000; TEXT-DECORATION: none}
A:hover {TEXT-DECORATION: none}
A.list{  COLOR:#000000; font-size:12px}
A.list:hover {COLOR: #ffffff; text-decoration: none; font-size:12px} 


html, body {
				height: 100%;
			}
			body {
				margin: 0;
				padding: 0;
				font: 12px/1.5 verdana, arial, helvetica, sans-serif;
			}
			#container {
				position: relative;
				min-height: 100%;
				height: 100%;
				voice-family: "\"}\"";
				voice-family: inherit;
				height: auto;
			}
			html>body #container {
				height: auto;
			}
			#content_body{
				height: 400px;
				padding: 0px;
				background-color: #fff;
			}
			#framecontent{
				text-align: center;
			}
			#footer {
				position: absolute;
				text-align: center;
				bottom: 0;
				padding: 3px;
				background-color: #565656;
				width: 100%;
			}
 
			h1, p {
				margin: 0;
				padding-bottom: 1em;
			}
			h1 {
				font-size: 12px;
				line-height: 1.5em;
			}

