@charset 'utf-8';

html, head, body, div, span, h1, h2, h3, h4, h5, h6, p, img, a, strong, em, ul, ol, li, dl, dt, dd, small {
	margin: 0;
	padding: 0;
}
body {
	font-family: '맑은 고딕';
	font-size: 0.75em;
	background-color: #143272;
}
a {
	color: black;
	text-decoration: none;
}
ul, ol {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
	border: 0;
}

select {
    padding: 3px 20px 6px 8px;
    width: 100%;
    height: 34px;
    font-size: 12px;
    border: 1px solid #e3e3e3;
    vertical-align: top;
    margin-top: 1px\9;
    background: #fff url('../images/ico_select.png') right -33px no-repeat;
    background-size: 29px 64px;
    line-height: 26px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
}

.topsection p{
	font-size: 20px;
	color: white;
}

/* 레이아웃 */
.wrapper {
	width: 100%;
}
.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 55px;
	background-color: white;
}
.gnb {
	position: absolute;
	top: 0;
	left: -205px;
	width: 205px;
	min-height: 100%;
	background-color: #143272;
	z-index: 9999;
	box-shadow: inset 3px 3px 3px rgba(0, 0, 0, .3);
}

.shortcut {
	position: absolute;
	left: 0;
	top: 66px;
	width: 100%;
	height: 343px;
	background-color: transparent;
}

.visual {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 490px;
	background-color: white
}
.ui-box {
	padding: 10px;
	background-color: white;
}

.greeting-top{
	color: #0066FF;
	font-size: 20px;
	font-weight:bold
}

.greeting-mid{
	color: #0066FF;
	font-size: 14px;
}

.greeting-foot{
	font-size: 13px;
}

.founder-box2{
    border-top: 2px solid #5184bd;
}

.founder-box2 ul li{
    border-bottom: 1px solid #d7d7d7;
    padding: 8px 0 8px 8px;
}

.founder-box2 ul li dl dd{
    margin-top:10px;
	color: #707070;
}

.history-yyyy {
	font-size: 20px;
	color: #111199	
}

.greeting_img {
	position: relative;
	width: 100%;
	background-color: white
}

.greeting_img h4 {
	padding-left: 15px;
	margin-bottom: 10px;
	font-size: 20px;
}

.greeting_text {
	position: relative;
	width: 100%;
	background-color: white;
}

.notice {
	padding: 0 25px;
	height: 108px;
	border-top: 1px solid #f9f9f9;
	border-bottom: 1px solid #f9f9f9;
	background-color: #fff;
}
.policy {
	height: 26px;
	background-color: #a49173;
}
.copyright {
	height: 21px;
	border-top: 1px solid #0a2766;
	background-color: #18397f;
}

/* 비주얼 */
.visual div {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}
.visual1 {
	left: 0;
	background: url(../images/bg1.jpg) no-repeat 50% 100%;
	background-size: 100% auto;
}
.visual2 {
	left: 0;
	background: url(../images/bg2.jpg) no-repeat 50% 100%;
	background-size: 100% auto;
}

/* 헤더 */
.header h1 {
	position: relative;
	top: 3px;
	width: 125px;
	margin: auto;
}
.header .menu {
	position: absolute;
	left: 8px;
	top: 8px;
	width: 40px;
}
.header hr {
	border-color: black;
}

/* GNB */
.gnb h2 {
	padding: 13px 0 13px 15px;
	height: 16px;
	border-top: 1px solid #051537;
	border-bottom: 1px solid #395797;
}
.gnb h2 img {
	width: 77px;
}

.gnb span {
	position: absolute;
	right: 11px;
	color: white;
	top: 8px;
}
.gnb li {
	float: left;
	width: 100%;
}
.gnb li a {
	display: block;
	padding-left: 15px;
	width: 190px;
	height: 38px;
	line-height: 38px;
	border-top: 1px solid #061e54;
	border-bottom: 1px solid #395797;
	color: #fff;
	font-size: 13px;
	background: url(../images/ico_gnb_item.gif) no-repeat 185px 50%;
}
.gnb li li a {
	background-image: none;
	background-color: #0a235b;
	border-top: 1px solid #051537;
	border-bottom: 1px solid #395797;
	color: #bca177;
}
.gnb li li a:active {
	background-color: #a49173;
	color: #fff;
	font-weight: bold;
}

/* 바로가기 */
.shortcut h2 {
	display: none;
}
.shortcut ul {
	overflow: hidden;
	margin: 15px auto;
	width: 270px;
}
.shortcut li {
	float: left;
	width: 90px;
	height: 100px;
}
.shortcut li a {
	display: block;
	margin: 0 auto;
	width: 70px;
}

/* 공지사항 */
.notice h2 {
	padding: 12px 0 6px;
	font-family: 'Myriad Pro';
	font-size: 14px;
	color: #18397f;
}
.notice li {	
	float: left;
	width: 100%;
	height: 18px;
	line-height: 18px;
}
.notice li a {
	position: relative;
	display: block;
	padding-right: 70px;
	padding-left: 10px;
	height: 18px;
	background: url(../images/ico_notice_item.gif) no-repeat 0 50%;
}
.notice li strong {
	overflow: hidden;
	display: block;
	float: left;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: normal;
}
.notice li span {
	position: absolute;
	top: 0;
	right: 0;
	width: 70px;
	text-align: right;
}

/* 푸터 */
.policy li {
	float: left;
	width: 33.3%;
	background: url(../images/bar_policy.gif) no-repeat 0 50%;
}
.policy li:first-child {
	background-image: none;
}
.policy li a {
	display: block;
	width: 100%;
	line-height: 26px;
	text-align: center;
	color: #fff;
}
.copyright small {
	display: block;
	font-size: 8px;
	color: #fff;
	line-height: 21px;
	text-align: center;
}

.map-text {
	font-size: 11px;
}

.top_home, .top_before {
	margin-top: 3px;
	margin-left: 3px;
}

.noti-subject {
	font-size: 15px
}


.fund h3 {
	padding-left: 20px;
	margin-bottom: 30px;
	padding-top: 15px;
	font-size: 20px;
} 

.fund h4 {
	background: url('../images/bullet_title_h4.png') no-repeat 0 50%;
	padding-left: 15px;
	margin-bottom: 10px;
	font-size: 15px;
} 

.fund h5 {
	background: url('../images/bullet_title_h5.png') no-repeat 0 50%;
	padding-left: 15px;
	margin-bottom: 10px;
	font-size: 13px;
} 

.fund p {
	margin-bottom: 30px;
}

.fund_box01 .one{
	background: url('../images/blt_one_01.gif') no-repeat 0 0;
	height: 20px;
	padding-left: 20px;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 10px;
}

.fund_box01 .two{
    background: url('../images/blt_two_01.gif') no-repeat 0 0;
	height: 20px;
	padding-left: 20px;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 10px;
}

.fund_box01 .three{
    background: url('../images/blt_three_01.gif') no-repeat 0 0;
	height: 20px;
	padding-left: 20px;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 10px;
}

.fund_box01 .four{
    background: url('../images/blt_four_01.gif') no-repeat 0 0;
	height: 20px;
	padding-left: 20px;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-left: 10px;
}

.tag_mag {
	color: #555;
	overflow: hidden;
	background-color: white;
	padding-top: 8px;
	height: 15px;
}

.tag_mag a:first-child {
	background: none;
}

.tag_mag a {
	float: left;
	text-align: center;
	line-height: 14px;
	background: url('../images/ico_tab_line.gif') left center no-repeat;
}

.tag_mag .li { 
	margin-bottom: 1px;
}

.campus-menu a{
	width:33%;
}

.campus-menu2 a{
	width:50%;
}

.campus-menu .on{
	font-weight: bold;
	font-size: 14px;
}

.campus-menu2 .on{
	font-weight: bold;
	font-size: 14px;
}

.smu_tab_link {
	border: 1px solid #e3e3e3;
	overflow: hidden;
	background-color: #f1f1f1;
}

.smu_tab_link:FIRST-CHILD {
	border-left: 0;
}

.smu_tab_link a {
	padding: 10px 0;
	width: 33%;
	float: left;
	text-align: center;
	color: #999;
	border-left: 1px solid #e3e3e3;
	font-size:10px;
}

.smu_tab_link .on {
	background: #fff;
    color: #222;
    font-weight: bold;
}

.btn_style2 {
    display: inline-block;
    height: 25px;
    padding-left: 16px;
    background: url('../images/btn_style3_left.gif') no-repeat 0 0;
}

.btn_style2 span{
    display: inline-block;
    height: 25px;
    padding-right: 40px;
    color: #000;
    font-size: 11px;
    font-weight: bold;
    line-height: 24px;
    background: url('../images/btn_style3.gif') no-repeat 100% 0;
    cursor: pointer;
}

.univ .univ_box02 {
    background-color: white;
}

.univ > div {
    width: 723px;
    height: 243px;
    padding-bottom: 15px;
}

.univ > div ul.first {
    border-top: 0px;
}

.univ > div ul {
    width: 426px;
    overflow: hidden;
    border-top: 1px dotted #babbba;
}

.univ > div ul li {
    float: left;
    overflow: hidden;
    padding: 9px 0;
}

.univ > div ul li:first-child {
    margin-left: 0px;
}

.univ > div ul li dl dt {
    float: left;
}

.univ > div ul li dl dt a {
    font-size: 13px;
    color: #476791;
    font-weight: bold;
}

.univ > div ul li dl dd {
    padding: 0 0 4px 9px;
    margin-left: 10px;
    background: url('/images/kr/bullet/bullet_blue2.gif') no-repeat 0px 9px;
    font-size: 12px;
    color: #747c8c;
    float: left;
}

.dim_layer {
	display: none;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
}

.festival img{
	width: 49%;
}

.table_style2, .table_style {
	margin-bottom: 40px;
}

.table_style2 table, .table_style table {
	width: 100%;
	border-collapse: collapse;
	border-bottom: 1px solid #94afcc;
}

.table_style2 table thead tr th{
    height: 32px;
    color: #004d9d;
    font-size: 12px;
    text-align: center;
    border-left: 1px solid #e4e4e5;
    border-top: 1px solid #004d9d;
    border-bottom: 1px solid #004d9d;
    background: #f0f7fe;
}

.table_style2 table tbody tr th {
    height: 32px;
    color: #004d9d;
    font-size: 12px;
    text-align: center;
    font-weight: normal;
    border-left: 1px solid #e4e4e5;
    border-top: 1px solid #e4e4e5;
    background: #f7f9fc;
}

.table_style2 table tbody tr td {
    height: 32px;
    color: #666;
    padding: 3px 0;
    font-size: 12px;
    text-align: center;
    border-top: 1px solid #e4e4e5;
    border-left: 1px solid #e4e4e5;
}

.table_style table thead tr th {
    height: 32px;
    color: #004d9d;
    font-size: 9px;
    text-align: center;
    border-left: 1px solid #e4e4e5;
    border-top: 1px solid #004d9d;
    border-bottom: 1px solid #004d9d;
    background: #f0f7fe;
}

.table_style table tbody tr th {
    height: 32px;
    color: #004d9d;
    font-size: 9px;
    text-align: center;
    font-weight: normal;
    border-left: 1px solid #e4e4e5;
    border-top: 1px solid #e4e4e5;
    background: #f7f9fc;
}

.table_style table tbody tr td {
    height: 32px;
    color: #666;
    padding: 3px 0;
    font-size: 9px;
    text-align: center;
    border-top: 1px solid #e4e4e5;
    border-left: 1px solid #e4e4e5;
}

.table_style table tbody tr .text_left {
	text-align: left;
	padding-left: 5px;
}

.table_style2 table tbody tr td.tL, .table_style table tbody tr td.tL {
    text-align: left;
    padding-left: 10px;
}

.table_style3 {
	overflow: hidden;
    border-top: 1px solid #004d9d;
    border-bottom: 1px solid #94afcc;
    margin-bottom: 30px;
}

.table_style3 table {
	width: 100%;
	border-collapse: collapse;
}

.table_style3 table tbody tr:first-child th, .table_style01 table tbody tr:first-child td {
    border-top: 0 none;
}
.table_style3 table tbody tr th:first-child {
    border-left: 0px;
    border-right: 1px solid #e4e4e5;
}
.table_style3 table tbody tr th {
    height: 32px;
    color: #004d9d;
    font-size: 12px;
    text-align: center;
    font-weight: normal;
    border-left: 1px solid #e4e4e5;
    border-top: 1px solid #e4e4e5;
    background: #f7f9fc;
}

.table_style3 table tbody tr td {
    height: 32px;
    color: #666;
    font-size: 12px;
    text-align: left;
    border-top: 1px solid #e4e4e5;
    border-left: 1px solid #e4e4e5;
    padding: 9px 0;
    padding-left: 10px;
}

.sitemap {
    clear: both;
    width: 97%;
    min-width: 200px;
    margin: 0 auto;
    overflow: hidden;
    text-align: left;
}

.sitemap dl {
    width: 99%;
    margin: 0 0 10px 0;
    overflow: hidden;
    border: 1px solid #d8d8d8;
    border-radius: 7px;
}

.sitemap dl dd {
    float: left;
    width: 100%;
    padding: 0 0 5px 0;
    margin-left: 20px;
    padding-top: 10px;
}

.sitemap dl dd ul .li2 {
    float: left;
    width: 50%;
    margin: 0 0 5px 0;
}

.sitemap dl dd ul .li1 {
    width: 100%;
    margin: 0 0 5px 0;
}

.sitemap dl dd ul li a {
    font-size: 10px;
}

.sitemap dl dt {
    float: left;
    width: 100%;
    padding: 10px 0 0 0;
    overflow: hidden;
}

.sitemap dl dt span {
    display: block;
    color: #004d9d;
    margin-left: 9px;
    padding: 0 0 7px 8px;
    letter-spacing: -1px;
    font-weight: bold;
    background: url('../images/dotline_02.png') left bottom repeat-x;
}

.sitemap dl dt span a{
	color: #004d9d;
	text-align: center
}

.sitemap dl dd.s_img {
    float: right;
    width: 55px;
    padding: 10px 10px 0 0;
}

.scholar_download {
	margin-bottom: 10px;	
	margin-top: 10px;	
}

.scholar_download img{
	margin-bottom: 5px;	
	margin-top: 5px;	
}

.table_style .td_list_type ul li:first-child {
    margin-left: 0;
    padding-left: 0;
    background: none;
}

.table_style .td_list_type ul li {
	float: left;
	background: url('../images/td_arrow_next.gif') no-repeat 0 3px;
	padding-left: 9px;
	padding-right: 9px;
}

.table_style tbody td.td_list_type {
    padding: 10px 5px;
}

.btn_type2 {
    display: inline-block;
    height: 25px;
    padding-left: 12px;
}

.btn_type2 span, .direct_link {
    cursor: pointer;
    display: inline-block;
    line-height: 25px;
    font-weight: bold;
    color: #000;
    font-size: 11px;
    text-decoration : underline;
}

.btn_type {
    display: inline-block;
    height: 25px;
    padding-left: 12px;
    background: url('../images/btn_type2_left.gif') no-repeat 0 0;
    right: 8px;
    width: 85px;
}

.btn_type span {
    cursor: pointer;
    display: inline-block;
    line-height: 25px;
    padding-right: 41px;
    font-weight: bold;
    color: #000;
    font-size: 11px;
    background: url('../images/btn_type2_right.gif') no-repeat 100% 0;
}

/* .direct_link {
	font-size: 14px;
	color: blue;
}  */

.table_style tbody tr td.blue_box {
    vertical-align: top;
}

.last_pd {
	background: none;
}

.table_style .blue_box ul li {
    padding-bottom: 25px;
    background: url('../images/td_arrow_down.gif')  no-repeat 50% 90%;
}

.table_styl .blue_box ul li span {
    display: block;
    width: 114px;
    padding: 10px 8px;
    background: #5994d5;
    color: #fff;
}

.select_div {
    padding: 0 10px 10px 10px;
    margin-bottom: 5px!important;
    margin-top: 10px!important;
}

.alignMid, .align_left {
	padding-left: 8px!important;
	text-align: left!important;
}

.telephone {
	color: #4765AA;
	text-decoration: underline;
}

.curriculum01 table {
    width: 100%;
    border-collapse: collapse;
}

.curriculum01 tbody tr th:first-child, .curriculum01 tbody tr td:first-child {
    text-align: left;
    padding-left: 26px;
    color: #1c4399;
}

.curriculum01 tbody tr .tbt {
    border-top: 1px solid #5994d5;
}

.curriculum01 tbody tr th, .curriculum01 tbody tr td {
    text-align: center;
    padding: 8px 0;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #e4e4e5;
}